<h1>FUCK YOU MOTHERFUCKER!! I've got all the skills of all those FACEBOOK MOTHERFUCKERS!! FUCK YOU DUSTIN AND ZUCKERBERG!</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyrails,org" %>
	in one month. This is the sample application.
</p>