<% if user_signed_in? %>
	<h1>Thanks for the money IDIOT!</h1>
<% else %>
<div class="hero-unit">
		<h1>Welcome to my new website fucktards, lets get money!</h1>
		<p>
			You've found the home page for the
			<%= link_to "One Month Rails bomb-ass", "http://onemonthrails.com"%>
			application.
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>
<% end %>