<div class="footer">
	<small>
	<%= link_to "One Month Rails SHIT", "http://onemonthrails.com"%>
			by <%= link_to "GGT5", "http://www.linkedin.com/pub/georgie-thomas/9/a55/547/"%>	
	</small>
</div>
